body {
    background-color: #9DBEBB;
    font-family: 'Roboto';
    color: #FEFFFF;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 50px;

}

.red-background {
    position: relative;
    background-color: #BE0909;
    max-width: 954px;
    width: 100%;
    height: 594px;
    margin: 50px;
    padding-left: 65px;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
}

form {
    width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}
yellow-background {
    width: 345px;
    height: 594px;
    background: #FFB039;
    display: block;
    margin-left: 852px;
    margin-top: 153px;
    margin-bottom: 153px;
    
}


.submit-btn {
    align-self: flex-start;
    width: 202px;
    height: 48px;
    font-family: 'Roboto';
    color: #FEFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    border: none;
}

.subbmit-btn:hover {
    color: #FFB039;
    background-color: #e2a6d6;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.duck-img {
    align-self: flex-end;
    height: 500px;
    
}