body {
    background-color: #9DBEBB;
    font-family: 'Roboto';
    color: #FEFFFF;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.red-background {
    background-position: center;
    background-color: #BE0909;
    max-width: 954px;
    width: 100%;
    min-height: 594px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    
}

form {
    max-width: 400px;
    width: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

yellow-background {
    width: 345px;
    height: 594px;
    background: #FFB039;
    display: block;
    margin-left: 852px;
    margin-top: 153px;
    margin-bottom: 153px;
    
}


.submit-btn {
    align-self: center;
    width: 202px;
    height: 48px;
    font-family: 'Roboto';
    color: #FEFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    border: none;
}

.input-field, .textarea {
    box-sizing: border-box;
    width: 400px;
    background-color: #BE0909;
    border: solid;
    border-width: 1px;
    border-color: #9DBEBB;
    border-left: none;
    border-top: none; 
    border-right: none;
}

#email, #theme{
    width: 160px;
}

.textarea {
    resize: none;
    width: 400px;
    
}
.input-field::placeholder, .textarea::placeholder {
    color: #FEFFFF;
    opacity: 1;
    font-weight: 100;
}

.input-field:focus {
    outline-color: #FFB039;
    border:#FFB039;
    border-radius: 10px;
}

.input-field:hover, .textarea:hover {
    background-color: #9DBEBB;
    border-radius: 10px;
    border-color: #FFB039;
    border: 10px;
}

.submit-btn:hover {
    color:rgba(0, 0, 0, 0.5);
    font-size: larger;
    background-color: #FFB039;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    
}

.duck-img {
    align-self: flex-end;
    
    
}